*{
    margin:0px;
    padding:0px;
   /* width:800px;*/
}
.header{
    height: 220px;
    width:850px;
    background-color: #022e21;
    color:#41b67e;
}    
.leftColumn{
    padding:20px;
    background-color: #41b67e;
    color:#001c13;
    width:340px;
    height:600px;
    font-size:18px; 
    float:left;

}
.rightColumn{
    background-color: #001c13;
    color: #41b67e;
    margin-left:380px;
    padding:20px;
    width:430px;
    height:600px;
    font-size:18px;
}
#headerImg{
    padding-left:30px;
    padding-top:25px;
    float:left;
    display:block;

}
#img{
    width:160px;
    border-radius:350px;
    float:left;
    display:block;
}
#headerName{
    margin-left: 150px;    
    padding-top:50px;
    padding-bottom:15px;
    font-weight: bold;
    font-size:48px;
    float:left;
}
#swd{    
    margin-left: 150px;
    font-weight: bold;
    font-size:40px;
    float:left;

}
.datahead{
    text-transform:uppercase;
    font-weight: bold;
    padding-top:15px;  
    padding-bottom:15px;   
    font-size: 28px;
}
#datalabel{
    font-weight: bold;
    float:left;
    padding-right:10px;
    padding-bottom:18px;
    padding-top:3px;
}
#labeldata{
    padding-top:3px;
}
#recent, #bsc, #msc, #workplace{
    padding-bottom:10px;
}
#name, #birthdate, #address, #phone, #email, #github {
    height:24px;
    width:24px;
    border-radius:50px;
}
#lname, #lbirthdate, #laddress, #lphone, #lemail, #lgithub {
    padding-top:4px;
    padding-bottom:3.5px;
}
.hobbiIMGS, #java, #html, #css, #js, #jq{
    height:80px;
    width:80px;
    border-radius:50px;
}
.year{
    font-size: 20px;
    font-weight: bold;
    padding-bottom:5px;
}
